* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0 auto;
  width: 60vw;
  padding: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-decoration: none;
}

.user {
  display: grid;
  grid-template-columns: 15% 80%;
  justify-content: space-between;
}

.user-profile {
  width: 8rem;
  height: 8rem;
  border: 2px solid black;
  border-radius: 10px;
}

.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-description {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.user-description h2 {
  display: flex;
  align-items: center;
}

.user-description p {
  display: flex;
  align-items: end;
  font-weight: bolder;
}

.show-user {
  display: grid;
  gap: 2rem;
}

.bio {
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
